<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}"/>
        <title>
            {% block title %}Image gallery{% endblock %}
        </title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="upload">Upload</a>
                </li>
            </ul>
        </nav>
        {% block body%}{% endblock %}
        <script src="{{asset('build/js/app.js')}}"></script>
    </body>
</html>
